<div class="container mt-5">
  <div class="page-header">
  <h2>My Orders</h2>
    <button class="btn btn-outline-secondary btn-sm" (click)="toggleSortDirection()">
      Sort by Date 
      <i class="bi" [ngClass]="{'bi-arrow-down': sortDirection === 'desc', 'bi-arrow-up': sortDirection === 'asc'}"></i>
    </button>
  </div>
  <hr>
  <div *ngIf="!isLoading; else loading">
    <div *ngIf="orders.length > 0; else noOrders">
      <div class="accordion" id="ordersAccordion">
        <div class="accordion-item" *ngFor="let order of orders; let i = index">
          <h2 class="accordion-header" [id]="'heading' + i">
            <button 
              class="accordion-button" 
              [class.collapsed]="activeOrderIndex !== i"
              type="button" 
              (click)="toggleAccordion(i)"
              [attr.aria-expanded]="activeOrderIndex === i">
              <div class="order-summary">
                <span><strong>Order #{{ order.orderId }}</strong></span>
                <span>{{ order.orderDate | date:'longDate' }}</span>
                <span>{{ order.totalAmount | currency:'MYR' }}</span>
                <span class="badge" [ngClass]="'status-' + order.status.toLowerCase()">{{ order.status | titlecase }}</span>
              </div>
            </button>
          </h2>
          <div 
            #accordionBody
            [id]="'collapse' + i" 
            class="accordion-collapse"
            [class.show]="activeOrderIndex === i">
            <div class="accordion-body">
              <div class="order-details">
                <p><strong>Shipped To:</strong> {{ order.shippingName }} at {{ order.shippingAddress }}, {{ order.shippingCity }}</p>
                <h5>Items:</h5>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex align-items-center" *ngFor="let item of order.orderItems">
                    <img [src]="getImageUrl(item.product.imagePath)" alt="{{ item.product.name }}" class="item-image me-3">
                    <div class="flex-grow-1">
                      <strong>{{ item.product.name }}</strong>
                      <div>Quantity: {{ item.quantity }}</div>
                    </div>
                    <div class="text-end">
                      {{ item.price | currency:'MYR' }}
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noOrders>
      <div class="alert alert-info no-orders-message">You have not placed any orders yet.</div>
    </ng-template>
  </div>
  <ng-template #loading>
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <p>Loading orders...</p>
    </div>
  </ng-template>
</div>
