.container {
  max-width: 1200px;
  padding-top: 70px;
}

.table {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-select {
  border-radius: 5px;
}

.badge {
  padding: 0.5rem;
  border-radius: 5px;
}

h2 {
  color: #1E3A8A;
}
